<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bill.name %>
</p>

<p>
  <b>Location:</b>
  <%= @bill.receipt_loc %>
</p>

<p>
  <b>Event Time:</b>
  <%= @bill.event_time %>
</p>


<%= link_to 'Edit', edit_user_bill_path(@user, @bill) %> |
<%= link_to 'Back', user_bills_path(@user) %>
