%h1 Listing items
%table
  %tr
    %th Name
    %th Price
    %th
    %th
    %th
  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.price
      %td= link_to 'Show', item_path(item)
      %td= link_to 'Destroy', item_path(item), :confirm => 'Are you sure?', :method => :delete
%br

= link_to 'New Item', new_item_path(:bill_id => @bill)
